@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
body {
    background-color:aliceblue;
    font-family: 'Exo', sans-serif;
    font-size: 20px
}

.content {
    width: 1200px;
    margin: 0 auto;
}

header img, header nav{
    float: left;
}
nav ul li{
    display: inline-block;
    padding: 50px;
}

.social {
    padding: 48px;
    float: rigth;
    
}